__pycache__/
.env
.venv
venv/
*.log
.DS_Store
# dependencias directas de NPM
node_modules/
/frontend/node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Opcional, si no quieres ignorar el package-lock.json en general pero no vas a empaquetar nada
# package-lock.json

# Otros comunes (macOS/Windows)
.DS_Store
.vscode/
